EMPEZANDO A MANEJAR COLAB CON CIENCIA DE DATOSüëäüëçüôè

TRAEMOS LIBRERIAS A UTILIZAR:üë©‚Äçüíªüë©‚Äçüíª

In [ ]:
import pandas as pd
import numpy as np
import os

TRAEMOS EL ARCHIVO üòÑ

In [ ]:
df_colombianos = pd.read_csv('/content/drive/MyDrive/PROYECTO PERSONAL/Colombianos_registrados_en_el_exterior.csv')
df_colombianos

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Pa√≠s,C√≥digo ISO pa√≠s,Oficina de registro,Grupo edad,Edad (a√±os),√Årea Conocimiento,Sub Area Conocimiento,Nivel Acad√©mico,Estado civil,G√©nero,Etnia de la persona,Estatura (CM),Localizaci√≥n,Cantidad de personas
0,ESPA√ëA,ESP,C. VALENCIA ESP,ADULTO,42,"ECONOM√çA, ADMINISTRACI√ìN CONTADURIA Y AFINES",CONTADUR√çA P√öBLICA,NO INDICA,CASADO,MASCULINO,NINGUNA,-1,"(40.463667, -3.74922)",1
1,VENEZUELA,VEN,C. MERIDA VEN,ADULTO MAYOR,65,NINGUNA,NINGUNA,NO INDICA,UNION_LIBRE,MASCULINO,OTRO,-1,"(6.42375, -66.58973)",2
2,ESTADOS UNIDOS,USA,C. HOUSTON,ADULTO,39,CIENCIAS DE LA EDUCACI√ìN,EDUCACI√ìN,NO INDICA,CASADO,FEMENINO,NINGUNA,-1,"(37.09024, -95.712891)",3
3,BELGICA,BEL,C. BRUSELAS,ADULTO,34,BELLAS ARTES,M√öSICA,NO INDICA,DESCONOCIDO,MASCULINO,OTRO,-1,"(50.503887, 4.469936)",1
4,VENEZUELA,VEN,C. CARACAS,ADULTO MAYOR,79,NO INDICA,NO INDICA,PRIMARIA,SOLTERO,MASCULINO,NINGUNA,170,"(6.42375, -66.58973)",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695343,CANADA,CAN,C. TORONTO,ADULTO,49,NO INDICA,NO INDICA,PREGRADO - PROFESIONAL,CASADO,MASCULINO,NINGUNA,175,"(56.130366, -106.346771)",2
695344,MEXICO,MEX,C. MEXICO,ADULTO JOVEN,27,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,MASCULINO,NINGUNA,179,"(23.634501, -102.552784)",1
695345,URUGUAY,URY,C. MONTEVIDEO,ADULTO,36,NINGUNA,NINGUNA,NO INDICA,SOLTERO,MASCULINO,OTRO,-1,"(-32.522779, -55.765835)",1
695346,ESTADOS UNIDOS,USA,C. HOUSTON,ADULTO MAYOR,79,"ECONOM√çA, ADMINISTRACI√ìN CONTADURIA Y AFINES",ECONOM√çA,NO INDICA,CASADO,MASCULINO,OTRO,-1,"(37.09024, -95.712891)",1
695347,MEXICO,MEX,C. GUADALAJARA,ADULTO JOVEN,21,"ECONOM√çA, ADMINISTRACI√ìN CONTADURIA Y AFINES",ADMINISTRACI√ìN,BACHILLERATO,SOLTERO,MASCULINO,NINGUNA,165,"(23.634501, -102.552784)",1

Miramos cuantos datos tenemos a esta altura

In [ ]:
len (df_colombianos)

695348

Analizmos el tipo de datos que tengo en mi data frame

In [ ]:
df_colombianos.dtypes

Pa√≠s                     object
C√≥digo ISO pa√≠s          object
Oficina de registro      object
Grupo edad               object
Edad (a√±os)               int64
√Årea Conocimiento        object
Sub Area Conocimiento    object
Nivel Acad√©mico          object
Estado civil             object
G√©nero                   object
Etnia de la persona      object
Estatura (CM)            object
Localizaci√≥n             object
Cantidad de personas      int64
dtype: object

GUARDMOS EN CARPETA

In [ ]:
df_colombianos.to_csv ('/content/drive/MyDrive/PROYECTO PERSONAL/clean_registro.csv', index= None)